# DAY6

### User Defined Functions

In [3]:
def my_function():
    print("Hello")

In [4]:
my_function()

Hello

RESULT OF STUDENTS ALONG WITH SCHOOL DETAILS

In [1]:
def contacts():
    print("Contact details of School:")
    print("DELHI PUBLIC SCHOOL")
    print("Banglore,Karnataka")
    print("8900000000")
    print("dpsbanglore@gmail.com")

In [2]:
for i in range(3):
    a=input("Enter name of student:")
    b=int(input("Marks in English:"))
    c=int(input("Marks in Hindi:"))
    d=int(input("Marks in Maths:"))
    e=int(input("Marks in Science:"))
    print()
    contacts()

Enter name of student: Khushi
Marks in English: 56
Marks in Hindi: 42
Marks in Maths: 75
Marks in Science: 65

Contact details of School:
DELHI PUBLIC SCHOOL
Banglore,Karnataka
8900000000
dpsbanglore@gmail.com

Enter name of student: Raj
Marks in English: 65
Marks in Hindi: 75
Marks in Maths: 45
Marks in Science: 66

Contact details of School:
DELHI PUBLIC SCHOOL
Banglore,Karnataka
8900000000
dpsbanglore@gmail.com

Enter name of student: Shiv
Marks in English: 57
Marks in Hindi: 48
Marks in Maths: 67
Marks in Science: 75

Contact details of School:
DELHI PUBLIC SCHOOL
Banglore,Karnataka
8900000000
dpsbanglore@gmail.com

In [10]:
def print_name(fname, lname):
    print(fname+" "+lname)

In [11]:
print_name("Khushi", "Shah")

Khushi Shah

COMPUTE THE ELECTRICITY BILL AS PER UNIT USAGE

In [13]:
def electricity_bill(n):
    if n<500:
        print("Your bill is",n*5)
    elif n>500 and n<700:
        print("Your bill is",n*10)
    elif n>700 and n<1000:
        print("Your bill is",n*15)
    elif n>1000:
        print("Your bill is",n*20)

In [15]:
x=float(input("Enter number of units comsumed:"))
electricity_bill(x)

Enter number of units comsumed: 567.992

Your bill is 5679.92

In [17]:
for i in range(3):
    a=input("Enter customer name:")
    x=float(input("Enter number of units comsumed:"))
    electricity_bill(x)
    print()

Enter customer name: Khushi
Enter number of units comsumed: 468.55

Your bill is 2342.75

Enter customer name: Raj
Enter number of units comsumed: 1201.55

Your bill is 24031.0

Enter customer name: Shiv
Enter number of units comsumed: 45

Your bill is 225.0